body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #fbeae7, #f77f7f);
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f44141;
    color: white;
    padding: 30px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
header h1 {
    font-size: 2.5em;
    margin: 0;
}
main {
    padding: 20px;
}
form {
    margin: 20px auto;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input, select, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}
button {
    background-color: #f44141;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #d93737;
}
section {
    display: none;
}
section.active {
    display: block;
}
footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: white;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px; /* Augmente l'espace entre les cartes */
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
    flex: 1 1 calc(45% - 40px); /* Ajuste la largeur des cartes */
    max-width: calc(45% - 40px);
    box-sizing: border-box;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    max-width: 100%;
    border-radius: 10px;
}
.card h3 {
    margin: 10px 0;
}
.card.selected {
    border: 4px solid #f44141;
    background-color: #ffe6e6;
}
#welcome {
    display: flex;
    flex-direction: column; /* Aligner le GIF et le bouton en colonne */
    align-items: center; /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    min-height: 100vh; /* S'assurer que la section occupe toute la hauteur de la fenêtre */
}
.animation {
    display: block; /* S'assurer qu'il est visible */
    max-width: 300px; /* Limiter la taille du GIF */
    height: auto; /* Conserver les proportions */
    margin-bottom: 20px; /* Ajouter un espace entre le GIF et le bouton */
}
#welcome button {
    font-size: 1em; /* Réduire la taille de la police */
    padding: 10px 15px; /* Ajuster le padding pour rendre le bouton plus compact */
    background-color: #f77f7f;
    border-radius: 5px; /* Rendre les coins légèrement arrondis */
    transition: transform 0.3s ease;
}
#welcome button:hover {
    transform: scale(1.05); /* Ajouter un léger zoom à l'hover */
}
